 Flia. <strong><%= current_user.username %></strong>.
 <%= link_to 'Editar perfil', edit_user_registration_path %> |
 <%= link_to "Salir", destroy_user_session_path, method: :delete %>
<h1>Dashboard Familia</h1>
<p>Numero de Solicitudes</p>

